# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.env
.env.*
**/.pytest_cache/

# Node/Angular
node_modules/
label-verifier-ui/.angular/
label-verifier-ui/.cache/
label-verifier-ui/dist/

# Firebase / tooling
firebase-debug.log
.firebase/

# macOS
.DS_Store
Take-Home Project_ AI-Powered Alcohol Label Verification App.pdf
